body {
    background-image: url("BackgroundPhoto.jpg");
    background-attachment: fixed;
    background-size:cover;
    width: 100%;
    height: 100%;
}
#index-background {
    margin-top: 14%;
    background: rgba(211, 211, 211, 0.3);
    padding: 30px;

}
#text-container{
    text-weight: bold;
    font-size: 2em;
    padding: 30px;
}

#form-container {
    font-weight: bold;
    padding: 30px;
    border:solid;
    border-width: 0.5px;

}
#listLager {
    padding: 30px;
    border:solid;
    border-width: 0.5px;
}
#fortryd-form {
    float: right;
}
#submit-form{
    float: left;
}

#opskrift-form {
    float: right;
    margin-right: 35%;
}
