<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:href="http://www.w3.org/1999/xhtml">
<head>
    <title>Madspild</title>
    <link href="style.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="container">

    <form id="Backbutton">
        <input type="button" value="Tilbage til forsiden" onclick="history.back(-1)">
    </form>

    <div class="row">
        <div class="col">
            <div class="col">

                <h4>Opskrift til pasta med kødsovs</h4>
                <div th:each="koedsovs : ${String}">
                    <h th:text="${koedsovs}" />
                </div>

            </div>

            <div id="kødsovs_jpg">
                <a href="https://www.mad-og-drikke.dk/opskrift/aegte-italiensk-koedsauce">
                <img src="Koedsovs.jpg" alt="Kødsovsbillede"
                     width="width" height="height">
                </a>
            </div>
        </div>
    </div>

    <div class="col">
        <h4>Opskrift til burg</h4>
        <div th:each="burger : ${String}">
            <h th:text="${burger}" />
        </div>
    </div>

    <div id="Burger_jpg">
        <a href="https://www.gastrofun.dk/opskrift/hjemmelavet-burger-shack-burger">
            <img src="Burger.jpg" alt="Burgerbillede"
                 width="width" height="height">
        </a>

    </div>
</div>

</body>
</html>