<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Madspild</title>
    <link href="style.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="container">

    <form id="forside-form" action="/removeOpskrifter" method="post">
        <input type="submit" value="Tilbage til forsiden">
    </form>

    <div class="row">
        <div class="col">

            <div class="col">
                <h4>Mulige Opskrifter</h4>
                <div th:each="listOfOpskrifter : ${opskrift}">
                    <h th:text="${listOfOpskrifter.getName()}" />
                    <img th:attr="src=${listOfOpskrifter.getUrl()} + '.jpg'
                            ,alt=${listOfOpskrifter.getName()}" />
                        <p th:text="${listOfOpskrifter.getText()}" ></p>

                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>